@use "../foundation/variables" as v;

:root {
  --dse-body-text-color: #{v.$black};
  --dse-body-bg-color: #{v.$grey-100};
  --dse-subtitle-color: #{v.$grey-500};
  --dse-btn-primary-color: #{v.$white};
  --dse-btn-primary-bg-color: #{v.$blue-light};
  --dse-btn-primary-bg-hover: #{v.$blue-dark};
  --dse-btn-txt-hover: #{v.$blue-light};
  --dse-btn-txt-color: #{v.$blue-dark};
  --dse-form-color: #{v.$black};
  --dse-form-bg-color: #{v.$white};
  --dse-input-color: #{v.$black};
  --dse-input-empty-color: #{v.$grey-300};
  --dse-input-border-color: #{v.$grey-400};
  --dse-input-border-focus-color: #{v.$black};
  --dse-input-error-color: #{v.$red};
  --dse-input-error-border-color: #{v.$red};
  --dse-upload-file-bg-color: #{v.$white};
  --dse-upload-file-color: #{v.$black};
  --dse-upload-file-border-color: #{v.$grey-400};
  --dse-upload-progress-indicator-bg-color: #{v.$blue-dark};
  --dse-upload-progress-track-bg-color: #{v.$grey-200};
  --dse-upload-file-icon-color: #{v.$blue-dark};
  --dse-upload-file-icon-bg-color: #{v.$grey-300};
  --dse-upload-progress-successfull-color: #{v.$green};
  --dse-upload-successfull-icon-color: #{v.$green};
  --dse-upload-progress-failed-color: #{v.$red};
  --dse-upload-failed-delete-color: #{v.$red};
  --dse-upload-file-icon-color: #{v.$red};
  --dse-upload-file-icon-bg-color: #{v.$grey-100};
  --dse-select-file-bg-color: #{v.$white};
  --dse-select-file-border-color: #{v.$grey-400};
  --dse-select-file-icon-color: #{v.$blue-dark};
  --dse-select-file-icon-bg-color: #{v.$grey-300};
  --dse-patient-table-bg-color: #{v.$white};
  --dse-patient-table-delete-icon-color: #{v.$red};
  --dse-patient-table-add-icon-color: #{v.$blue-dark};
  --dse-patient-table-title-bg-color: #{v.$grey-200};
  --dse-patient-table-border-color: #{v.$grey-600};
  --dse-patient-table-cell-font-size: #{v.$fs-xs};
}
