@use '../foundation/colors' as c;
body,#root{
  background-color: c.$body-bg-color;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;