/*=============================================
=                Variables                    =
=============================================*/
/*----------  Brand Colors  ----------*/
/* Blue Colors */
/* Green */
/* Red */
/* Grey */
/*=============================================
=                Typography                  =
=============================================*/
/*----------  Font Family  ----------*/
/*=====  End of Font family  ======*/
/*----------  Font Sizes  ----------*/
/*=====  End of Font sizes  ======*/
/*----------  Heading font Sizes  ----------*/
/*=====  End of Heading font sizes  ======*/
/*=====  End of Typography  ======*/
/*=============================================
=                 Breakpoints                 =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=                     Spaces                  =
=============================================*/
/*=====  End of Spaces  ======*/
:root {
  --dse-body-text-color: #000;
  --dse-body-bg-color: #fff1f1;
  --dse-subtitle-color: #9ca3af;
  --dse-btn-primary-color: #fff;
  --dse-btn-primary-bg-color: #5c4baa;
  --dse-btn-primary-bg-hover: #372ce2;
  --dse-btn-txt-hover: #5c4baa;
  --dse-btn-txt-color: #372ce2;
  --dse-form-color: #000;
  --dse-form-bg-color: #fff;
  --dse-input-color: #000;
  --dse-input-empty-color: #eef2fe;
  --dse-input-border-color: #ccd9e9;
  --dse-input-border-focus-color: #000;
  --dse-input-error-color: #f63f5e;
  --dse-input-error-border-color: #f63f5e;
  --dse-upload-file-bg-color: #fff;
  --dse-upload-file-color: #000;
  --dse-upload-file-border-color: #ccd9e9;
  --dse-upload-progress-indicator-bg-color: #372ce2;
  --dse-upload-progress-track-bg-color: #dcdcdc;
  --dse-upload-file-icon-color: #372ce2;
  --dse-upload-file-icon-bg-color: #eef2fe;
  --dse-upload-progress-successfull-color: #21c35c;
  --dse-upload-successfull-icon-color: #21c35c;
  --dse-upload-progress-failed-color: #f63f5e;
  --dse-upload-failed-delete-color: #f63f5e;
  --dse-upload-file-icon-color: #f63f5e;
  --dse-upload-file-icon-bg-color: #fff1f1;
  --dse-select-file-bg-color: #fff;
  --dse-select-file-border-color: #ccd9e9;
  --dse-select-file-icon-color: #372ce2;
  --dse-select-file-icon-bg-color: #eef2fe;
  --dse-patient-table-bg-color: #fff;
  --dse-patient-table-delete-icon-color: #f63f5e;
  --dse-patient-table-add-icon-color: #372ce2;
  --dse-patient-table-title-bg-color: #dcdcdc;
  --dse-patient-table-border-color: #f7f7f7;
  --dse-patient-table-cell-font-size: 0.75rem;
}

/*=============================================
=                Variables                    =
=============================================*/
/*----------  Brand Colors  ----------*/
/* Blue Colors */
/* Green */
/* Red */
/* Grey */
/*=============================================
=                Typography                  =
=============================================*/
/*----------  Font Family  ----------*/
/*=====  End of Font family  ======*/
/*----------  Font Sizes  ----------*/
/*=====  End of Font sizes  ======*/
/*----------  Heading font Sizes  ----------*/
/*=====  End of Heading font sizes  ======*/
/*=====  End of Typography  ======*/
/*=============================================
=                 Breakpoints                 =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=                     Spaces                  =
=============================================*/
/*=====  End of Spaces  ======*/
/*=============================================
=                Global body color            =
=============================================*/
/*=====  End of Global body color  ======*/
/*=============================================
=                   Typography                =
=============================================*/
/*=====  End of Typography  ======*/
/*=============================================
=                    Buttons                  =
=============================================*/
/*=====  End of Buttons  ======*/
/*=============================================
=                       Form                  =
=============================================*/
/*----------  Form Inputs color  ----------*/
/*=====  End of Form  ======*/
/*=============================================
=                  Upload                     =
=============================================*/
/*----------  upload successfull  ----------*/
/*----------  upload failed  ----------*/
/*=====  End of Upload  ======*/
/*=============================================
=                   Select file               =
=============================================*/
/*=====  End of Select file  ======*/
/*=============================================
=                 Table colors                =
=============================================*/
/*=====  End of Table colors  ======*/
body, #root {
  background-color: var(--dse-body-bg-color, #fff1f1);
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/*=============================================
=                Variables                    =
=============================================*/
/*----------  Brand Colors  ----------*/
/* Blue Colors */
/* Green */
/* Red */
/* Grey */
/*=============================================
=                Typography                  =
=============================================*/
/*----------  Font Family  ----------*/
/*=====  End of Font family  ======*/
/*----------  Font Sizes  ----------*/
/*=====  End of Font sizes  ======*/
/*----------  Heading font Sizes  ----------*/
/*=====  End of Heading font sizes  ======*/
/*=====  End of Typography  ======*/
/*=============================================
=                 Breakpoints                 =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=                     Spaces                  =
=============================================*/
/*=====  End of Spaces  ======*/
/*=============================================
=                Global body color            =
=============================================*/
/*=====  End of Global body color  ======*/
/*=============================================
=                   Typography                =
=============================================*/
/*=====  End of Typography  ======*/
/*=============================================
=                    Buttons                  =
=============================================*/
/*=====  End of Buttons  ======*/
/*=============================================
=                       Form                  =
=============================================*/
/*----------  Form Inputs color  ----------*/
/*=====  End of Form  ======*/
/*=============================================
=                  Upload                     =
=============================================*/
/*----------  upload successfull  ----------*/
/*----------  upload failed  ----------*/
/*=====  End of Upload  ======*/
/*=============================================
=                   Select file               =
=============================================*/
/*=====  End of Select file  ======*/
/*=============================================
=                 Table colors                =
=============================================*/
/*=====  End of Table colors  ======*/
/*=============================================
=                common font sizes              =
=============================================*/
/*=====  End of Body font sizes  ======*/
/*=============================================
=            Heading font sizes            =
=============================================*/
/*=====  End of Heading font sizes  ======*/
/*=============================================
=            table fonmt size            =
=============================================*/
/*=====  End of table fonmt size  ======*/
/*=============================================
=            form and input font sizes        =
=============================================*/
/*=====  End of form and input font sizes  ======*/
/*=============================================
=                   Buttons                   =
=============================================*/
.button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
  border: none;
  position: relative;
}

/*----------  button primary  ----------*/
.btn-primary {
  color: var(--dse-btn-primary-color, #fff);
  background-color: var(--dse-btn-primary-bg-color, #5c4baa);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.btn-primary:hover {
  background-color: var(--dse-btn-primary-bg-hover, #372ce2);
}

.btn-text {
  color: var(--dse-btn-txt-color, #372ce2);
  background-color: #fff;
}
.btn-text:hover {
  color: var(--dse-btn-txt-hover, #5c4baa);
}

/*=====  End of Buttons  ======*/
/*=============================================
=                Variables                    =
=============================================*/
/*----------  Brand Colors  ----------*/
/* Blue Colors */
/* Green */
/* Red */
/* Grey */
/*=============================================
=                Typography                  =
=============================================*/
/*----------  Font Family  ----------*/
/*=====  End of Font family  ======*/
/*----------  Font Sizes  ----------*/
/*=====  End of Font sizes  ======*/
/*----------  Heading font Sizes  ----------*/
/*=====  End of Heading font sizes  ======*/
/*=====  End of Typography  ======*/
/*=============================================
=                 Breakpoints                 =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=                     Spaces                  =
=============================================*/
/*=====  End of Spaces  ======*/
/*=============================================
=                Global body color            =
=============================================*/
/*=====  End of Global body color  ======*/
/*=============================================
=                   Typography                =
=============================================*/
/*=====  End of Typography  ======*/
/*=============================================
=                    Buttons                  =
=============================================*/
/*=====  End of Buttons  ======*/
/*=============================================
=                       Form                  =
=============================================*/
/*----------  Form Inputs color  ----------*/
/*=====  End of Form  ======*/
/*=============================================
=                  Upload                     =
=============================================*/
/*----------  upload successfull  ----------*/
/*----------  upload failed  ----------*/
/*=====  End of Upload  ======*/
/*=============================================
=                   Select file               =
=============================================*/
/*=====  End of Select file  ======*/
/*=============================================
=                 Table colors                =
=============================================*/
/*=====  End of Table colors  ======*/
/*=============================================
=                common font sizes              =
=============================================*/
/*=====  End of Body font sizes  ======*/
/*=============================================
=            Heading font sizes            =
=============================================*/
/*=====  End of Heading font sizes  ======*/
/*=============================================
=            table fonmt size            =
=============================================*/
/*=====  End of table fonmt size  ======*/
/*=============================================
=            form and input font sizes        =
=============================================*/
/*=====  End of form and input font sizes  ======*/
/*=============================================
=                    Text                     =
=============================================*/
.text {
  cursor: text;
  color: var(--dse-body-text-color, #000);
  font-size: var(--dse-body-font-size, 1rem);
  font-weight: var(--dse-body-font-weight, 400);
  font-style: normal;
  line-height: normal;
}

/*----------  heading   ----------*/
.text-h1 {
  font-size: var(--dse-h1-font-size, 2rem);
  font-weight: var(--dse-h1-font-weight, 900);
}

.text-h2 {
  font-size: var(--dse-h2-font-size, 1.25rem);
  font-weight: var(--dse-h2-font-weight, 700);
}

.text-h3 {
  font-size: var(--dse-h3-font-size, 1rem);
  font-weight: var(--dse-h3-font-weight, 600);
}

.text-h4 {
  font-size: var(--dse-h4-font-size, 1rem);
  font-weight: var(--dse-h4-font-weight, 400);
}

.text-h5 {
  font-size: var(--dse-h5-font-size, 0.875rem);
  font-weight: var(--dse-h5-font-weight, 400);
}

.text-h6 {
  font-size: var(--dse-h6-font-size, 0.75rem);
  font-weight: var(--dse-h6-font-weight, 300);
}

.text-paragraph {
  font-size: var(--dse-body-font-size, 1rem);
  font-weight: var(--dse-body-font-weight, 400);
}

.text-title {
  font-size: var(--dse-title-font-size, 1.5rem);
  font-weight: var(--dse-title-font-weight, 600);
}

.text-subtitle {
  font-size: var(--dse-subtitle-font-size, 0.875rem);
  font-weight: var(--dse-subtitle-font-weight, 400);
  color: var(--dse-subtitle-color, #9ca3af);
}

.text-patient-cell {
  font-size: var(--dse-patient-table-cell-font-size, 0.75rem);
  font-weight: var(--dse-patient-table-cell-font-weight, 300);
}

/*=====  End of Text  ======*/
/*=============================================
=                Variables                    =
=============================================*/
/*----------  Brand Colors  ----------*/
/* Blue Colors */
/* Green */
/* Red */
/* Grey */
/*=============================================
=                Typography                  =
=============================================*/
/*----------  Font Family  ----------*/
/*=====  End of Font family  ======*/
/*----------  Font Sizes  ----------*/
/*=====  End of Font sizes  ======*/
/*----------  Heading font Sizes  ----------*/
/*=====  End of Heading font sizes  ======*/
/*=====  End of Typography  ======*/
/*=============================================
=                 Breakpoints                 =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=                     Spaces                  =
=============================================*/
/*=====  End of Spaces  ======*/
/*=============================================
=                Global body color            =
=============================================*/
/*=====  End of Global body color  ======*/
/*=============================================
=                   Typography                =
=============================================*/
/*=====  End of Typography  ======*/
/*=============================================
=                    Buttons                  =
=============================================*/
/*=====  End of Buttons  ======*/
/*=============================================
=                       Form                  =
=============================================*/
/*----------  Form Inputs color  ----------*/
/*=====  End of Form  ======*/
/*=============================================
=                  Upload                     =
=============================================*/
/*----------  upload successfull  ----------*/
/*----------  upload failed  ----------*/
/*=====  End of Upload  ======*/
/*=============================================
=                   Select file               =
=============================================*/
/*=====  End of Select file  ======*/
/*=============================================
=                 Table colors                =
=============================================*/
/*=====  End of Table colors  ======*/
.patient-table-cell {
  border: 1px solid var(--dse-patient-table-border-color, #f7f7f7);
  flex-grow: 0;
  width: 100%;
  text-align: left;
  padding-inline: 0.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*=============================================
=                Variables                    =
=============================================*/
/*----------  Brand Colors  ----------*/
/* Blue Colors */
/* Green */
/* Red */
/* Grey */
/*=============================================
=                Typography                  =
=============================================*/
/*----------  Font Family  ----------*/
/*=====  End of Font family  ======*/
/*----------  Font Sizes  ----------*/
/*=====  End of Font sizes  ======*/
/*----------  Heading font Sizes  ----------*/
/*=====  End of Heading font sizes  ======*/
/*=====  End of Typography  ======*/
/*=============================================
=                 Breakpoints                 =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=                     Spaces                  =
=============================================*/
/*=====  End of Spaces  ======*/
/*=============================================
=                Global body color            =
=============================================*/
/*=====  End of Global body color  ======*/
/*=============================================
=                   Typography                =
=============================================*/
/*=====  End of Typography  ======*/
/*=============================================
=                    Buttons                  =
=============================================*/
/*=====  End of Buttons  ======*/
/*=============================================
=                       Form                  =
=============================================*/
/*----------  Form Inputs color  ----------*/
/*=====  End of Form  ======*/
/*=============================================
=                  Upload                     =
=============================================*/
/*----------  upload successfull  ----------*/
/*----------  upload failed  ----------*/
/*=====  End of Upload  ======*/
/*=============================================
=                   Select file               =
=============================================*/
/*=====  End of Select file  ======*/
/*=============================================
=                 Table colors                =
=============================================*/
/*=====  End of Table colors  ======*/
.select-file {
  background-color: var(--dse-select-file-bg-color, #fff);
  border-radius: 1rem;
  border: 3px solid rgb(from var(--dse-select-file-border-color, #ccd9e9) r g b/0.4);
  cursor: auto;
}

.select-file-container {
  border: 3px dashed var(--dse-select-file-border-color, #ccd9e9);
  padding-block: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.select-file-container > .file-icon {
  margin-bottom: 1.25rem;
}

.file-icon {
  background-color: var(--dse-select-file-icon-bg-color, #eef2fe);
  color: var(--dse-select-file-icon-color, #372ce2);
  border-radius: 100%;
  max-width: 2.6rem;
  min-width: 2.6rem;
  max-height: 2.6rem;
  min-height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=============================================
=                Variables                    =
=============================================*/
/*----------  Brand Colors  ----------*/
/* Blue Colors */
/* Green */
/* Red */
/* Grey */
/*=============================================
=                Typography                  =
=============================================*/
/*----------  Font Family  ----------*/
/*=====  End of Font family  ======*/
/*----------  Font Sizes  ----------*/
/*=====  End of Font sizes  ======*/
/*----------  Heading font Sizes  ----------*/
/*=====  End of Heading font sizes  ======*/
/*=====  End of Typography  ======*/
/*=============================================
=                 Breakpoints                 =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=                     Spaces                  =
=============================================*/
/*=====  End of Spaces  ======*/
/*=============================================
=                Global body color            =
=============================================*/
/*=====  End of Global body color  ======*/
/*=============================================
=                   Typography                =
=============================================*/
/*=====  End of Typography  ======*/
/*=============================================
=                    Buttons                  =
=============================================*/
/*=====  End of Buttons  ======*/
/*=============================================
=                       Form                  =
=============================================*/
/*----------  Form Inputs color  ----------*/
/*=====  End of Form  ======*/
/*=============================================
=                  Upload                     =
=============================================*/
/*----------  upload successfull  ----------*/
/*----------  upload failed  ----------*/
/*=====  End of Upload  ======*/
/*=============================================
=                   Select file               =
=============================================*/
/*=====  End of Select file  ======*/
/*=============================================
=                 Table colors                =
=============================================*/
/*=====  End of Table colors  ======*/
.upload-file {
  background-color: var(--dse-upload-file-bg-color, #fff);
  border: 3px solid var(--dse-upload-file-border-color, #ccd9e9);
  color: var(--dse-upload-file-color, #000);
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.progress {
  min-width: 100%;
  position: relative;
  min-height: 0.325rem;
  background-color: var(--dse-upload-progress-track-bg-color, #dcdcdc);
  border-radius: 0.25rem;
  margin-block: 0.75rem;
  overflow: hidden;
}

.progress-indicator {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0.25rem;
  min-width: 0.5%;
  background-color: var(--dse-upload-progress-indicator-bg-color, #372ce2);
  border-radius: 0.25rem;
}

.progress-indicator-successful {
  background-color: var(--dse-upload-progress-successfull-color, #21c35c);
}

.progress-indicator-failed {
  background-color: var(--dse-upload-progress-failed-color, #f63f5e);
}

.upload-successful-icon {
  color: var(--dse-upload-progress-successfull-color, #21c35c);
}

.upload-failed-icon {
  color: var(--dse-upload-failed-delete-color, #f63f5e);
}

/*=============================================
=                Variables                    =
=============================================*/
/*----------  Brand Colors  ----------*/
/* Blue Colors */
/* Green */
/* Red */
/* Grey */
/*=============================================
=                Typography                  =
=============================================*/
/*----------  Font Family  ----------*/
/*=====  End of Font family  ======*/
/*----------  Font Sizes  ----------*/
/*=====  End of Font sizes  ======*/
/*----------  Heading font Sizes  ----------*/
/*=====  End of Heading font sizes  ======*/
/*=====  End of Typography  ======*/
/*=============================================
=                 Breakpoints                 =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=                     Spaces                  =
=============================================*/
/*=====  End of Spaces  ======*/
.modal {
  position: absolute;
  inset: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  overflow-y: auto;
  padding: 1.25rem;
  position: fixed;
  inset: 0;
  z-index: 1002;
  animation: animation-fade-in 0.2s forwards;
}

/*=============================================
=                Variables                    =
=============================================*/
/*----------  Brand Colors  ----------*/
/* Blue Colors */
/* Green */
/* Red */
/* Grey */
/*=============================================
=                Typography                  =
=============================================*/
/*----------  Font Family  ----------*/
/*=====  End of Font family  ======*/
/*----------  Font Sizes  ----------*/
/*=====  End of Font sizes  ======*/
/*----------  Heading font Sizes  ----------*/
/*=====  End of Heading font sizes  ======*/
/*=====  End of Typography  ======*/
/*=============================================
=                 Breakpoints                 =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=                     Spaces                  =
=============================================*/
/*=====  End of Spaces  ======*/
/*=============================================
=                Global body color            =
=============================================*/
/*=====  End of Global body color  ======*/
/*=============================================
=                   Typography                =
=============================================*/
/*=====  End of Typography  ======*/
/*=============================================
=                    Buttons                  =
=============================================*/
/*=====  End of Buttons  ======*/
/*=============================================
=                       Form                  =
=============================================*/
/*----------  Form Inputs color  ----------*/
/*=====  End of Form  ======*/
/*=============================================
=                  Upload                     =
=============================================*/
/*----------  upload successfull  ----------*/
/*----------  upload failed  ----------*/
/*=====  End of Upload  ======*/
/*=============================================
=                   Select file               =
=============================================*/
/*=====  End of Select file  ======*/
/*=============================================
=                 Table colors                =
=============================================*/
/*=====  End of Table colors  ======*/
.patient-table {
  display: flex;
  width: 100%;
}

.patient-table-container {
  width: 100%;
  background-color: var(--dse-patient-table-bg-color, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patient-table-title {
  background-color: var(--dse-patient-table-title-bg-color, #dcdcdc);
}
.patient-table-title .typography {
  padding-block: 0.25rem;
}

.patient-icon {
  max-width: fit-content;
  text-align: center;
  height: 100%;
  cursor: pointer;
  min-width: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--dse-patient-table-border-color, #f7f7f7);
}

.patient-delete {
  color: var(--dse-patient-table-delete-icon-color, #f63f5e);
}
.patient-delete svg {
  font-size: 0.7954545455rem;
}

.patient-add {
  color: var(--dse-patient-table-add-icon-color, #372ce2);
}
.patient-add svg {
  font-size: 1rem;
}

.patient-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/*=============================================
=                Variables                    =
=============================================*/
/*----------  Brand Colors  ----------*/
/* Blue Colors */
/* Green */
/* Red */
/* Grey */
/*=============================================
=                Typography                  =
=============================================*/
/*----------  Font Family  ----------*/
/*=====  End of Font family  ======*/
/*----------  Font Sizes  ----------*/
/*=====  End of Font sizes  ======*/
/*----------  Heading font Sizes  ----------*/
/*=====  End of Heading font sizes  ======*/
/*=====  End of Typography  ======*/
/*=============================================
=                 Breakpoints                 =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=                     Spaces                  =
=============================================*/
/*=====  End of Spaces  ======*/
.create-patient {
  background-color: white;
  width: 100%;
  margin: 2rem;
  padding: 2rem 1.5rem;
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.create-patient .button {
  min-width: 100%;
}

/*=============================================
=                Variables                    =
=============================================*/
/*----------  Brand Colors  ----------*/
/* Blue Colors */
/* Green */
/* Red */
/* Grey */
/*=============================================
=                Typography                  =
=============================================*/
/*----------  Font Family  ----------*/
/*=====  End of Font family  ======*/
/*----------  Font Sizes  ----------*/
/*=====  End of Font sizes  ======*/
/*----------  Heading font Sizes  ----------*/
/*=====  End of Heading font sizes  ======*/
/*=====  End of Typography  ======*/
/*=============================================
=                 Breakpoints                 =
=============================================*/
/*=====  End of Breakpoints  ======*/
/*=============================================
=                     Spaces                  =
=============================================*/
/*=====  End of Spaces  ======*/
/*=============================================
=                Global body color            =
=============================================*/
/*=====  End of Global body color  ======*/
/*=============================================
=                   Typography                =
=============================================*/
/*=====  End of Typography  ======*/
/*=============================================
=                    Buttons                  =
=============================================*/
/*=====  End of Buttons  ======*/
/*=============================================
=                       Form                  =
=============================================*/
/*----------  Form Inputs color  ----------*/
/*=====  End of Form  ======*/
/*=============================================
=                  Upload                     =
=============================================*/
/*----------  upload successfull  ----------*/
/*----------  upload failed  ----------*/
/*=====  End of Upload  ======*/
/*=============================================
=                   Select file               =
=============================================*/
/*=====  End of Select file  ======*/
/*=============================================
=                 Table colors                =
=============================================*/
/*=====  End of Table colors  ======*/
/*=============================================
=                common font sizes              =
=============================================*/
/*=====  End of Body font sizes  ======*/
/*=============================================
=            Heading font sizes            =
=============================================*/
/*=====  End of Heading font sizes  ======*/
/*=============================================
=            table fonmt size            =
=============================================*/
/*=====  End of table fonmt size  ======*/
/*=============================================
=            form and input font sizes        =
=============================================*/
/*=====  End of form and input font sizes  ======*/
.form-input {
  display: flex;
  flex-direction: column;
  min-width: 12rem;
  flex-grow: 1;
}

.input {
  color: var(--dse-input-color, #000);
  font-size: var(--dse-form-input-font-size, 0.75rem);
  height: 2rem;
  padding: 0.25rem 0.5rem;
  background-color: #fff;
  outline: none;
  border: 1.5px solid var(--dse-input-border-color, #ccd9e9);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
  cursor: text;
  border: 1.5px solid var(--dse-input-border-color, #ccd9e9);
}
.input:focus {
  border: 1.5px solid var(--dse-input-border-focus-color, #000);
  color: var(--dse-input-color, #000);
}

.has-error {
  color: var(--dse-input-error-color, #f63f5e);
  border-color: var(--dse-input-error-border-color, #f63f5e) !important;
}

/*# sourceMappingURL=index.css.map */
